<!-- <style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
</style> -->

<main class="main">
  <div class="content">
    <div class="card">
      <p-table
        #dealsTable
        datakey="id"
        styleClass="p-datatable-gridlines p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
        [value]="deals"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
        currentPageReportTemplate="{first} to {last} of {totalRecords} deals"
        [globalFilterFields]="['name', 'type', 'purchasePrice', 'address', 'noi', 'capRate']"
        [showJumpToPageInput]="true"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Real State Deals
            <!-- <p-button icon="pi pi-plus">Add New</p-button> -->
          </div>

          <div class="flex">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dealsTable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search for anything" />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" style="">ID <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="name" style="min-width: 80px">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="type" style="min-width: 80px">Type <p-sortIcon field="type"></p-sortIcon></th>
            <th pSortableColumn="purchasePrice" style="min-width: 80px">Price ($) <p-sortIcon field="purchasePrice"></p-sortIcon></th>
            <th pSortableColumn="address" style="min-width: 80px">Address <p-sortIcon field="address"></p-sortIcon></th>
            <th pSortableColumn="noi" style="min-width: 80px">NOI <p-sortIcon field="noi"></p-sortIcon></th>
            <th pSortableColumn="capRate" style="min-width: 80px">Cap Rate <p-sortIcon field="capRate"></p-sortIcon></th>
          </tr>

          <tr>
            <th> <p-columnFilter type="text" field="id"></p-columnFilter> </th>
            <th> <p-columnFilter type="text" field="name" matchMode="contains"></p-columnFilter> </th>
            <th>
              <p-columnFilter type="text" field="type" ></p-columnFilter>
              <!-- <p-columnFilter field="type" matchMode="equals" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [options]="typesOptions" (onChange)="filter($event.value)" placeholder="Any">
                        <ng-template let-option pTemplate="item">
                            <p-tag [value]="option.label"></p-tag>
                        </ng-template>
                    </p-dropdown>
                </ng-template>
              </p-columnFilter> -->
            </th>
            <th> <p-columnFilter type="numeric" field="purchasePrice"></p-columnFilter> </th>
            <th> <p-columnFilter type="text" field="address" matchMode="contains"></p-columnFilter> </th>
            <th> <p-columnFilter type="numeric" field="noi"></p-columnFilter> </th>
            <th> <p-columnFilter type="numeric" field="capRate"></p-columnFilter> </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-deal>
          <tr>
            <td>{{ deal.id }}</td>
            <td>{{ deal.name }}</td>
            <td>{{ deal.type }}</td>
            <td>{{ deal.purchasePrice }}</td>
            <td>{{ deal.address }}</td>
            <td>{{ deal.noi }}</td>
            <td>{{ deal.capRate }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</main>
