@media screen and (max-width: 767px) {
  .content {
    margin: auto 10px;
  }

  .global-search {
    max-width: 50px;
  }
}

.title {
  color: var(--color-primary);
  display: inline;
  margin: auto 0;
}

.subtitle {
  color: #4c4c4c;
  display: inline;
  margin: auto 0;
}

.logo {
  margin: auto 10px;
  width: 50px;
  height: 50px;
}
